[Desktop Entry]
Type=Application
Terminal=false
TryExec=/usr/local/bin/neovide
Exec=/usr/local/bin/neovide %F
Name=neovide
GenericName=Text Editor
Comment=Launches GUI FrontEnd "NeoVide" for the TextEditor "NeoVim"
Categories=Utility;TextEditor;
Keywords=Text;Editor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Icon=gvim
